$movie-sel: get-module("movie", "selector");
$movielist-sel: get-module("movielist", "selector");
$tab-sel: get-module("tab", "selector");

$height: 320px;  

.swiper-thumbs {
    width: 100%;
    height: $height / 5;
    box-sizing: border-box;
    margin: 10px 0;
    .swiper-wrapper {
        display: flex;
        overflow: visible;
    }
    .swiper-slide {
        width: 40%;
        margin: 0 {
            right: 10px;
        }
        height: 100%;
        opacity: 0.4;
        overflow: hidden;
        > img {
            width: 100%;
        }
        @include fx-center-img();          
        -webkit-transition: all 0.65s ease;          
                transition: all 0.65s ease;                
    }
    .swiper-slide:last-child {
        margin-right: 0;
    }
    .swiper-slide-active {
        opacity: 1;
    }
}

.slidecator {
    .swiper-slide {
        width: 10%;
    }
}

.actionbar {
    @extend %hflexbox;
    align-items: center;
    &__brand {
    }
    &__search-form {
        margin-left: auto;      
        .form-group {
            display: flex;      
            > .form-label {
                display: none;
            }
            > .form-input {
                @extend %hflexbox;
                align-items: stretch;
            }
            > .form-input:after {
                content: "";
                display: block;
                width: 30px;
                background-color: #e01818;
                color: #ffffff;
                margin: 0;
            }  
        }        
    }
    &__trigger {
        display: none;
        width: 40px;
        height: 40px;
        background-color: #124214;
    }
}

@mixin section_welcome_index($args...) {
    @include device-mobile() {
        .actionbar {
            justify-content: space-between;
            &__search-form {
                margin-left: 0;
            }
            &__trigger {
                display: block;
            }
        }
    }
}

#{$movielist-sel}{
    #{$movie-sel} {
        width: 14%;
    }
}

#{$tab-sel} {
    &__nav {
        .swiper-slide {
            width: 33.3%;   
        }       
        .swiper-slide-active {
            color: #ef1717;
        }
    }
    &__thumbs {
        border-bottom: 1px solid #dedede;
        .swiper-slide {
            width: 33.3%;
            height: 3px;
        }
        .swiper-slide-active {
            background-color: #e01818;
        }
    }
    &__content {
        height: 450px;
        .swiper-slide {
            width: 100%;
        }
    }
}



